body {
	background-color: #f5f5f5;
	color: #3c3c3c;
	font: 300 14px open sans,sans-serif;
	letter-spacing: 0.5px;
	overflow-x: hidden;
}
.greynum {
	color: rgba(0, 0, 0, 0.36);
	float: left;
	line-height: 28px
}
a{
	color:#232323;
}
a:hover{
	color:#1d93e4;
}
a, a:focus, a:hover {
	outline: 0 none;
}
p {
	line-height: 24px;
	margin: 0;
}
a, a:focus, a:hover {
	text-decoration: none;
}
.row, li, ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}


/* General Headers CSS */
h1 {
	color: #232323;
	font-family: 'Titillium Web', sans-serif;
	font: 900 24px/36px "Titillium Web",serif;
	margin: 0 0 15px;
	letter-spacing: 1px;
}
h2 {
	color: #232323;
	font-family: 'Titillium Web', sans-serif;
	font: 200 38px "Titillium Web",serif;
	letter-spacing: 1px;
}
h3 {
	color: #232323;
	font-family: 'Titillium Web', sans-serif;
	font: 900 16px "Titillium Web",serif;
	letter-spacing: 1.5px;
	margin: 0 0 10px;
}
h4 {
	color: #232323;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0 0 10px;
}


/* Sidebar CSS */
.nav-extra {
	float: right;
}
.sidebar {
	padding: 0;
	position: relative;
	top: 0;
}
.sidebarWrapper {
	box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 27px 0 0;
	background: #1d93e4;
	text-align: center;
	height: 100%;
}
.user-pic {
	border-radius: 140px;
	width: 60%;
	margin-bottom: 30px;
}
.sidebar .nav {
	padding: 20px 30px;
	background: #fff none repeat scroll 0 0;
	padding: 20px 30px;
}
.fixed {
	box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.3);
	left: 30px;
	position: fixed;
	right: 30px;
	top: 0;
	width: auto;
}
.sidebar .nav {
	text-align: center;
	margin: auto;
}
.sidebar .nav li {
	font: 900 13px "Titillium Web",serif;
	padding: 10px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.sidebar .nav li a {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: #232323;
	display: inline-block;
	padding: 0;
	transition: all 0.1s linear 0s;
	text-align: center;
	transition: all 0.1s linear 0s;
}
.sidebar .nav li a:hover, .sidebar .nav li.active a {
	color: #1d93e4;
	opacity: unset;
}
.toggle-btn {
	background: #141414 none repeat scroll 0 0;
	text-align: center;
	cursor: pointer;
	height: 60px;
	line-height: 60px;
	margin: 0;
	width: 100%;
	z-index: 998;
}
.lines, .lines::after, .lines::before {
	background: #fff none repeat scroll 0 0;
	display: inline-block;
	height: 2px;
	width: 20px;
}
.lines {
	margin: 0;
	padding: 0;
	position: relative;
	vertical-align: middle;
}
.lines::after, .lines::before {
	content: "";
}
.lines::after, .lines::before {
	left: 0;
	position: absolute;
	transition: all 0.2s linear 0s;
}
.lines::before {
	top: 5px;
}
.lines::after {
	top: -5px;
}
.toggle-close .lines {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.toggle-close .lines::after, .toggle-close .lines::before {
	top: 0;
	transform-origin: 50% 50% 0;
}
.toggle-close .lines::before {
	transform: rotate3d(0, 0, 1, 45deg);
}
.toggle-close .lines::after {
	transform: rotate3d(0, 0, 1, -45deg);
}


/* General Section CSS*/
.section-title {
	margin-bottom: 50px;
}
.section-title h2::after {
	background: #1d93e4 none repeat scroll 0 0;
	content: "";
	display: table;
	height: 2px;
	margin-left: 28px;
	width: 40px;
}
.section-title span {
	color: #969696;
	font: 500 14px open sans,sans-serif;
	padding-right: 10px;
}


/* About Section CSS */
.about-background {
	padding: 75px 0 0;
}
.aboutWrapper {
	padding: 0;
}
.button {
	background-color: #1d93e4;
	border-radius: 50px;
	font-family: Titillium Web;
	text-transform: uppercase;
	color: #ffffff;
	white-space: nowrap;
	padding: 6px 16px;
	font-size: 13px;
}
.button:hover{
	color: #ffffff;
}


/* Skills Section CSS */
#skills h3 {
	font: 900 13px "Titillium Web",serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.skills-background {
	padding: 75px 0 0;
}
.skills {
	margin-top: 37px;
	width: 100%;
}
.skill-outer {
	margin-bottom: 50px;
}
.skill-outer h3 span {
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	color: #a0a0a0;
	font: 600 13px open sans,sans-serif;
	margin-left: 10px;
	padding: 2px 6px;
	position: relative;
}
.skill-outer h3 span::before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}
.progress, .progress-bar {
	box-shadow: none;
	height: 10px;
	position: relative;
}
.progress {
	background: #d2d2d2 none repeat scroll 0 0;
	border-radius: 15px;
	margin: 0;
}
.progress-bar {
	background: #1d93e4 none repeat scroll 0 0;
}
.progress-bar-striped {
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-size: 1rem 1rem;
}


/* Services Section CSS */
.services-background {
	margin-bottom: -30px;
	padding: 100px 0 0;
}
.servicesWrapper {
	padding: 0;
}
.service-box {
	margin-bottom: 30px;
}
.service-box div:first-child {
	float: left;
	width: 36px;
}
.service-box i {
	font-size: 36px;
}
.service-box div:last-child {
	padding-left: 66px;
}


/* Project Section CSS */
.projects-box span {
	font-style: italic;
}
.projects-background {
	padding: 100px 0 0;
}
.projectsWrapper {
	padding: 0;
}
.projects-box {
	margin-bottom: 30px;
}
.projects-box:last-child {
	margin: 0;
}
.projects-box div:first-child {
	background: #fff none repeat scroll 0 0;
	border-radius: 50%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	color: #1d93e4;
	float: left;
	font-size: 29px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 100px;
}
.projects-box div:last-child {
	padding-left: 130px;
}
.projects-box span {
	color: #a0a0a0;
	display: block;
	font-weight: 500;
	padding-bottom: 5px;
}
.projects-box h3 {
	margin-bottom: 5px;
}


/* Footer CSS */
.footer-background {
	text-align: center;
}
#copyright {
	font-size: 13px;
	padding: 30px 0;
	margin-top: 50px;
}
.copyright {
	text-align: left;
}
